<main class="madera ffijado fondo_informe linea">
    <section class="informe poster">
        <a href="/batallas?id={{civilizationId}}&page={{page}}" class="volver">
            &lt; Volver
        </a>
        <div class="log_batalla">
            <h1>
                Batalla {{battle.num_battle}}
            </h1>
            Fecha: {{battle.created_at}}
            <h2>Log de batalla</h2>
            <pre class="log_text">{{battle.log_text}}</pre>
        </div>
    </section>
</main>